.sidebar {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 1rem;
  padding: 0 0.75rem;
  background-color: #f9f9f9;
  transition: inset-inline-start 0.2s ease-in-out;
  inline-size: 20rem;
  block-size: 100%;
  inset-inline-start: -20rem;

  &.open {
    inset-inline-start: 0;
  }

  @media (min-width: 768px) {
    position: static;
    display: none;
    inline-size: 260px;

    &.open {
      display: flex;
    }
  }
}

.sidebar_shade {
  position: static;
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  animation: show 0.3s ease-in-out;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;

  &.open {
    position: fixed;
    display: block;

    @media (min-width: 768px) {
      display: none;
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sidebar_toggle_btn {
  margin-block-start: 0.625rem;
}

.add_btn {
  padding: 0.5rem 1rem;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  border-radius: 0.25rem;
  background-color: #ffffff;
  margin-block-start: auto;
  margin-block-end: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #ececec;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.list_item {
  display: block;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: currentColor;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;

  &:hover,
  &.active {
    background-color: #ececec;
  }
}
