.sidebar {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 0 0.75rem;
  background-color: #f9f9f9;
  inline-size: 20rem;
  block-size: 100%;
  inset-inline-start: -20rem;
  transition: inset-inline-start 0.2s ease-in-out;

  &.open {
    inset-inline-start: 0;
  }

  @media (min-width: 768px) {
    position: static;
    display: none;
    inline-size: 260px;

    &.open {
      display: block;
    }
  }
}

.sidebar_shade {
  position: static;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  animation: show 0.3s ease-in-out;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;

  &.open {
    position: fixed;
    display: block;

    @media (min-width: 768px) {
      display: none;
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sidebar_toggle_btn {
  display: inline-flex;
  margin: 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  margin-block-start: 10px;

  &:hover {
    background-color: #ececec;
  }
}

.sidebar_icon {
  fill: #7d7d7d;
}
