.container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px 24px;
}
