.container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px 24px 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--background-grey);
}
